.bottom-nav {
    position: sticky;
    bottom: 0;
    background-color: rgb(113, 105, 90);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4px;
}

.react-link {
    color: black !important;
}

.bottom-nav .react-link {
    color: white !important;
}
