
$bg-color: #fef9f3;
$fill: #003b4a;
$important-color: #2b97dd;

$primary: #277da1;
$secondary: #9fa5a7;
$danger: #F94144;
$success: #90BE6D;
$info: #84c5e1;
$warning: #F8961E;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$btn-primary: $primary; 
$btn-danger: $danger; 
$btn-success: $success;
$btn-warning: $warning;
$btn-info: $info;

.btn-primary {
  background-color: $primary !important;
}

@font-face {
  font-family: VollkornReg;
  src: url("./assets/VollkornRegular-51aXv.ttf");
}

@font-face {
  font-family: VollkornBold;
  src: url("./assets/VollkornBold-ALwGg.ttf");
}

@font-face {
  font-family: VollkornMed;
  src: url("./assets/VollkornMedium-jEVry.ttf");
}

.bg-dblue {
  background-color: $fill;
}

.txt-dblue {
  color: $fill;
}

* {
  font-family: VollkornReg serif !important;
}

h1 {
  font-family: VollkornMed !important;
}

h4, h5, h6, .lead {
  font-family: "Inter", sans-serif !important;
}

.table *{
  font-family: "Inter", sans-serif !important;
}

.react-link {
  text-decoration: none !important;
}

.App {
  background-color: $bg-color;
  color: $fill;
  height: 100%;
  min-height: 100vh;
}




@import "../node_modules/bootstrap/scss/bootstrap";